[submodule "student-grades"]
	path = src/student-grades
	url = git@github.com:MichaelTA0111/Student-Grades.git
[submodule "dpdk-morello"]
	path = src/dpdk-morello
	url = git@github.com:MichaelTA0111/DPDK-20.11.1-Morello.git
[submodule "packet-generator"]
	path = src/packet-generator
	url = git@github.com:MichaelTA0111/Packet-Generator.git
[submodule "cheri-networking"]
	path = src/cheri-networking
	url = git@github.com:MichaelTA0111/CHERI-Networking.git
[submodule "packet-receiver"]
	path = src/packet-receiver
	url = git@github.com:MichaelTA0111/Packet-Receiver.git
[submodule "result-plotter"]
	path = src/result-plotter
	url = git@github.com:MichaelTA0111/Result-Plotter.git
